    *{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .section{
        display: flex;
        justify-content: center;
    }
    body{

        background: rgb(25, 25, 27);
        color: rgb(255, 255, 255);
        font-family: 'Lato',sans-serif;
    }

    .wrapper{
        width: 327px;
        padding: 0 5px 0 5px ;
    }
    .header{
        padding-top: 22px;
    }
    .nav{
        display: none;
    }

    .header__content-button{
        display: none;
    }
    .section-1{
        background: radial-gradient(50.00% 50.00% at 50% 50%,rgb(53, 53, 80),rgba(25, 25, 27, 0) 100%);
    }
    .section-1__content-container{

    }
    .section-1__content-heading{
        margin: 66px 0 30px 0;
        font-size: 42px;
        font-weight: 400;

    }

    .section-1__content-text{

        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-weight: 400;

    }
    .button{
        cursor: pointer;
        width: 166px;
        height: 44px;
        background: rgb(84, 84, 212);
        border: none;
        padding: 10px 30px;
        border-radius: 5px;
    }

    .section-1__image-block{
        width: 374px;
        height: 406px;
        background-image: url("../img/banner_1.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-1__content-button{
        margin: 50px 0 66px 0;

    }

    .button__text{
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 700;
    }

    .section-1__image-block{
        width: 374px;
        height: 406px;
    }

    .section-2__wrapper{
        margin-top: 140px;
    }

    .heading{
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: 400;

    }

    .section-2__content-text{
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-weight: 400;

        margin: 30px 0 50px 0;
    }
    .section-2__image-block{
        width: 327px;
        height: 184px;
        background-image: url("../img/banner_3.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-3{
        margin: 140px 0;
    }

    .section-3__heading{
        text-align: center;
        margin-bottom: 50px;
    }
    .grid-container{
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-columns: repeat(1, 249px);
        grid-gap: 24px;
    }

    .grid-container__block-heading{
        margin: 20px 0 24px 0;
    }

    .grid-container__block-heading{
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;

    }
    .grid-container__block-text{
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-weight: 400;


    }

    .section-4{
        margin-bottom: 230px;
    }
    .section-4__heading{
        margin-bottom: 74px;
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: 400;

    }

    .section-4__gallery{
        list-style: none;
        display: flex;
    }

    .gallery__image{
        padding: 24px;
        border-radius: 14px;
        background: rgb(30, 30, 32);
    }

    .section-4__gallery{
        border-radius: 14px;
    }

    .img2, .img3{
        display: none;
    }

    .section-5{
        background: rgba(30, 30, 32);
        height: 416px;
    }
    .section-5__container{
        padding: 80px 24px;

    }
    .section-5__heading{
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 50px;
    }
    .section-5-button{
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 700;

    }

    .footer__wrapper{
        padding: 140px 0 50px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 40px;

    }

    .footer__text{
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
        font-weight: 700;
        text-transform: capitalize;
    }
    .footer__text-rights{
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;

    }

    .footer__logo{
        width: 115px;
        height: 34px;
    }